.createPokemonContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px ;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: fit-content;
    background-color: rgba(19, 34, 131, 0.636);
    border: 10px solid rgb(233, 245, 4);
    border-radius: 15px;
    padding: 10px;
}
.inputsAndTypes{
    display: flex;
    gap: 1rem;
}
.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 80px;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.inputs div{
    display: flex;
    flex-direction: column;
}
.typesCreate{
    display: grid;
    grid-template-columns: auto auto;
}
.types{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.errors{
    color: red;
}
.homeButton{
    margin-top: 15px;
    background-color: rgb(171, 5, 19);
    cursor: pointer;
    color: rgb(200, 200, 200);
    border-radius: 8px;
    border: 2px solid rgb(201, 194, 5);
    height: 30px;

}

.homeButton:hover {
    transform: translateY(-5px);
  }

.homeButton:disabled{
    background-color: rgb(171, 6, 6);
    color: rgb(209, 209, 209);
    border-color: rgb(230, 209, 16);
    opacity: .5;
}